.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: solid 1px black;
  user-select: none;
  background-color: lightgray;
}

.opened {
  background-color: white;
}
